.menu-item{
    display: flex;
    font-size: 1.8rem;
    font-weight: 700;
    align-items: center;
    padding: 8px 8px 8px 0;
    transition:  background-color ease-in-out 200ms;

    &.active{
        color:rgba(254, 44, 85, 1);

        .icon{
            display: none;
        }
        .active-icon{
            display: flex;
        }
        
    }

    &:hover{
        background-color: rgba(22, 24, 35, .03);
        border-radius: 8px;
    }

} 

.icon{
    display: flex;
}
.active-icon{
    display: none;
}

.title{
    margin-left: 10px;
}